:root {
  --white: #fff;
  --black: #191411;

  --red: #d3320f;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Semibold.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/assets/fonts/Merriweather-Black.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: Merriweather;
}

h1 {
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

h2 {
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

button {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
}

.i-card {
  background-image: url('/assets/images/icons/shopping-card.svg');
}

html, body {
  height: 100%;
}

body {
  background-color: var(--black);
  color: var(--white);
}

.yellow-button {
  display: flex;
  align-items: center;
  padding: 19px 50px;
  border-radius: 8px;
  background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
  color: var(--black);
  border: 0;

  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.yellow-button:hover {
  background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

.yellow-button:disabled {
  cursor: not-allowed;
  color: gray;
  background: #343434;
}