:root {
    --white: #fff;
    --black: #191411;

    --red: #d3320f;
}

* {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf');
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Black.ttf');
}

body {
    background-color: var(--black);
    color: var(--white);
}

html, body, .background-wrapper {
    height: 100%;
}

.background-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 400px;
    height: 100%;
    background-image: url('../images/bg-effects_left.png');
    background-repeat: no-repeat;
    background-position: left 0;
}

.background-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 400px;
    height: 100%;
    background-image: url('../images/bg-effects_right.png');
    background-repeat: no-repeat;
    background-position: right 0;
}

.container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

header .container {
    height: 130px;
    align-items: center;
    justify-content: space-between;
}

header .top-logo {
    height: 50px;
}

header nav ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header nav ul li {
    margin-right: 88px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    color: var(--white);
    text-decoration: none;

    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 2px solid transparent;
}

header nav ul li a:hover {
    border-bottom: 2px solid var(--white);
    transition: border-bottom 250ms ease-in-out;
}

header button#change-currency-button {
    padding: 12px 0px 11px 0px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid var(--white);
    background: none;
    color: var(--white);
    user-select: none;

    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

main {
    height: calc(100% - 130px);
    overflow: hidden;
}

main .container {
    position: relative;
    height: 100%;
    align-items: center;
}

main .container .texts-block {
    width: 50%;
    position: relative;
    z-index: 2;
}

main .container .texts-block h1 {
    margin-top: 10px;
    margin-bottom: 56px;

    font-family: Merriweather;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

main .container .texts-block p {
    margin-bottom: 56px;

    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.red-badge {
    padding: 12px 16px;
    border-radius: 100px;
    color: var(--white);
    background: var(--red);
    border: 0;

    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
}

.yellow-button {
    padding: 19px 50px;
    border-radius: 8px;
    background: linear-gradient(96deg, #DA8023 0%, #E2B438 100%);
    color: var(--black);
    border: 0;

    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.yellow-button:hover {
    background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}

main .container .image-wrapper {
    width: 50%;
    
}

main .container .burger-chedder-image {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: calc(100% - 991px);
    transform: translateY(-50%);
}